/main.cpp
/musictagger.desktop
/musictagger.pro
/musictagger.pro.user
/musictagger.svg
/musictagger64.png
/musictagger80.png
/musictagger_harmattan.desktop
/qml/musictagger/main.qml
/qmlapplicationviewer/qmlapplicationviewer.cpp
/qmlapplicationviewer/qmlapplicationviewer.h
/qmlapplicationviewer/qmlapplicationviewer.pri
